body {
    margin: 0%;
    background-color: #8a512844;
}

body::-webkit-scrollbar{
    display: none;
  }

#nav-items > a {
    text-align: center;
    font-size: x-large;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px;
    color: white;
}

#nav-items > a:hover {
    box-shadow: 10px 5px 5px black
}

#top-menu {
    width: 100%;
    display: flex;
    position: fixed;
    background-color: #a74c0b44;
    margin: 0;
}

#logo {
    /* width: 6%;
    height: 6%; */
    text-align: center;
    margin: auto;
    /* padding: auto; */
}

#logo>img {
    display: block;
    width: 25%;
    height: 25%;
    /* padding: auto; */
    margin: auto; 
    /* margin: 4% auto;
    padding: 1.5rem auto; */

}

#nav-list-side {
    width: 64%;
    margin: auto;
    text-align: center;
}

#nav-items {
    display: inline;
    padding: 1.5rem;
}

#main-page-car > img {
    display: flex;
    width: 100%;
}

.products > img {
    display: block;
    width: 100%;
    /* height: 100%; */
}

.product-line-container {
    width: 100%;
    display: flex;
    margin: 10px;
    /* position: relative; */
}

.products {
    width: 27%;
    margin-right: 1%;
    margin-left: 1%;
    text-align: center;
    border: 2px;
    padding: 2%;
    padding-bottom: 1%;
    border: 2px solid #b0a194;
}

.button {
    display: block;
    padding: auto;
    margin: 2% auto;
    margin-top: 1.5%;
    width: 20%;
    height: 8%;
    display:inline-block;
	cursor:pointer;
    border-radius: 28px;
    background-color: #8a512844;
    font-weight: bolder;
}

.button:hover {
    
}

#footer {
    position: absolute;
    /* display:block; */
    margin: 0px;
    width: 100%;
    padding: 0px;
    /* min-height: 100%; */
    background-color: #a74c0b44;
}

.footer-text {
    text-align: center;
    height: 5px;
}

.contact-us-container {
    height: 600px;
    width: 100%;
}

.contact-us-container > div > img {
    width: 100%;
    height: 100%;
    border-radius: 28px;
}

.contact-us {
    float: left;
    width: 28%;
    height: 375px;
    background-color: #a74c0b44;
    margin-top: 6%;
    margin-left: 12%;
    margin-right: 2%;
    border-radius: 28px;
}

.contact-us-pic {
    float: left;
    margin-top: 6%;
    margin-left: 14%;
    margin-right: 10%;
    width: 34%;
    height: 375px;
}

#contact-us-submit {
    display: block;
    border-radius: 28px;
    width: 20%;
    height: 8%;
    margin-top: 15px;
    margin-left: 43px;
}

.contact-text-align-format {
    margin-left: 10px;
    margin-top: 15px;
}

h3.contact-text-align-format {
    margin-top: 20px;
}

input.contact-text-align-format{
    /* margin: auto auto auto 10; */
    margin: auto;
    margin-left: 10px;
    padding: auto;
}
